<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cocktail Recipes: {{.Name}} </title>
</head>
<body>
  <h1>Cocktail: {{.Name}} </h1>
  <h2>{{.Description}}</h2>
  <h4>Ingredients</h4>
  <ul>
  {{with .Ingredients}}
    {{range .}}
      <li>{{.Amount}} {{.Unit}} {{.Name}}</li>
    {{end}}
  {{end}}
  </ul>
  <h4>Directions</h4>
  <ol>
    {{with .Directions}}
    {{range .}}
      <li>{{.Instruction}}</li>
    {{end}}
  {{end}}
  </ol>
</body>
</html>